<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Required Apps</key>
			<array>
				<string>com.apple.dt.Xcode</string>
			</array>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>my_icon.png</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Shell Script File</key>
			<string>my_script.sh</string>
			<key>Title</key>
			<string>XcodeOpenCV</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>XcodeOpenCV</string>
	<key>Extension Identifier</key>
	<string>org.mitake.popclip-opencv</string>
	<key>Extension Name</key>
	<string>XcodeOpenCV</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
